* {
    margin: 0;
    padding: 0;
}

h2 h3 {
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
}

p {
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
}

h3 {
	color: $color-letras-titulos;
}